@import url(../footer/__copyright/footer__copyright.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__links/footer__links.css);


.footer {
    width: 82%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 48px;
}

@media (max-width: 1280px) {
    .footer {
        width: 92%;
    }
}

@media (max-width: 1024px) {
    .footer {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .footer {
        width: 95%;
        margin-bottom: 24px;
    }
}

@media (max-width:658px) {
    .footer {
        flex-direction: column;
}
}

