.video__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  position: absolute;
  top: 280px;
  left: 30px;
  max-width: 640px;
  z-index: 1;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .video__subtitle {
    top: 212px;
  }
}

@media screen and (max-width: 861px) {
  .video__subtitle {
    top: 163px;
    left: 24px;
  }
}

@media screen and (max-width: 861px) {
  .video__subtitle {
    top: 153px;
  }
}

@media screen and (max-width: 375px) {
  .video__subtitle {
    top: 163px;
  }
}

@media screen and (max-width: 320px) {
  .video__subtitle {
    top: 136px;
    left: 16px;
  }
}