.lead__title {
    margin: 0 auto;
    font-size: 96px;
    font-weight: 900;
    text-align: center;
    width: 82%;
}

@media (max-width:1200px) {
    .lead__title {
        width: 95%;
        font-size: 9vw;
    }
}

@media (max-width:1024px) {
    .lead__title {
        width: 80%;
    }
}

@media (max-width:768px) {
    .lead__title {
        width: 90%;
        font-size: 11vw;
    }
}

@media (max-width: 425px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        font-size: 12vw;
    }
}