.cover__title {
    margin: 274px auto 0 auto;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

@media (max-width:1024px){
    .cover__title {
      margin-top: 211px;
      width: 55%;
  }
}

@media (max-width:919px) {
    .cover__title {
        width: 62%;
    }
}

@media (max-width:816px) {
    .cover__title {
        width: 72%;
    }
}

 @media (max-width:768px) {
    .cover__title {
        width: 67%;
        min-width: 255px;
        margin-top:165px;
    }
}

@media (max-width:754px) {
    .cover__title {
        font-size: 7vw;
    }
}

@media (max-width: 425px){
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin-top: 104px;
  }
}

@media (max-width:320px) {
    .cover__title {
        margin-top: 64px;
    }
} 